:root{
    --background:#2f364b;
    --primary-color: #071849;
    --secondary-color:#4a4d57;
    --accent-color:#3a96d3;
    --text-color:#f9f9f9;

}

*{
    margin:0;
    padding:0;

}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:16pt;
    color:var(--text-color);
    
}
body{
    min-height: 100vh;
    padding:10px;
    background-color:var(--background);
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
h1{
    margin-top:100px;
    margin-bottom:20px;
    font-size:3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align:center;
    color:var(--accent-color);
    font-style:italic;
    


}

.wrapper{
    width: 700px;
    max-width: 100%;
    display:flex;
    flex-direction: column;
    gap:10px;
}
#todo-input{
    box-sizing: border-box;
    padding:15 px 15px;
    width:100%;
    background:none;
    border:5px solid var(--accent-color);
    border-radius: 1000px;
    font:inherit;
    color:var(--text-color);
    caret-color:var(--accent-color);
    text-align: center;
    
}
#todo-input:focus{
    outline:none;
}
form{
    position: relative;
}
#add-button{
    position: absolute;
    top:0;
    right:0;
    padding:0 30px;
    height:100%;
    background-color:var(--accent-color);
    border:none;
    border-radius: 500px;
    font:inherit;
    font-weight: 600;
    color:var(--background);
    cursor: pointer;

}
.todo{
    margin-bottom: 10px;
    padding:0 16px;
    background-color:var(--primary-color);
    border-radius: 40px;
    display:flex;
    align-items: center;

}
.todo .todo-text{
    padding: 15px;
    padding-right:0;
    flex-grow: 1;
}

.raya{
    background-color: white;
    height: 5px;
    margin: 0;
    border:none;
}
